.columnas{
	justify-content: center;
	display: flex;
	flex-direction:row;	

}



.form-label{
	color:rgb(73,72,167); 
	
}

body{
	background-image: linear-gradient(to bottom, #6B67B4 2%, #AA9AB5 20%, #D6CCD9 95%);
	background-size:cover;
	margin:0;
	padding:0;
	font-family:Helvetica;
}

.menu1 li {
	display:inline-block;

}

.menu1 a {
	color:rgb(73,72,167); 
	text-decoration:none;
}

.menu1 i:hover {
	color:rgb(86,48,83);
}

.menu1 i{
	padding-right:20px;
	text-align:right;
	box-sizing: border-box;
	margin-bottom: 0px;
	display:inline-block;
}


.menu1{
	color:rgb(223,210,225); 
	text-decoration:none;
}

.menu1:hover {
	color:rgb(86,48,83);
}

.menu1 {
	padding-right:20px;
	text-align:right;
	box-sizing: border-box;
	margin-bottom: 0px;
}

.cart div {
	padding-right:20px;
	text-align:right;
	box-sizing: border-box;
	margin-bottom: 0px;
}

.menu2 ul {
	padding:0;
	

}

.menu2 li {
	display:inline-block;
	

}
.menu2 ul li {
	font-size: 20px;
	
}

.menu2 {
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.menu2 a {
	color:rgb(73,72,167); 
	text-decoration:none;
}

.menu2 a {
	padding: 20px;
}

.menu2 ul  {
	background: rgb(223,210,225);
}


.menu2 a:hover {
	color:rgb(86,48,83);
	background: radial-gradient( ellipse at center,  white,rgb(223,210,225));
	padding: 0px;
}

.menu1 :hover .list li{
	display: block;	
	text-align:right;
}

.botones_cuenta{
	text-align:center;
}

.btn-primary {
    background-color:rgb(223,210,225) !important;
    border: rgb(223,210,225);
    color:rgb(73,72,167);
}

.btn-primary:hover {
    background-color:rgb(73,72,167) !important;
    border: rgb(73,72,167);
    color:rgb(223,210,225);
}

.logo a {
	display:block;
	text-align: center;	
}
