
body{
	background-image: linear-gradient(to bottom, #6B67B4 2%, #AA9AB5 20%, #D6CCD9 95%);
	background-size:cover;
	margin:0;
	padding:0;
	font-family:Helvetica;
}

header{
	width:100%;
}

.menu1 {
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-end;
	list-style-type: none;
	margin-right: 20px;
}

.menu1 div{
	color:rgb(223,210,225); 
	text-decoration:none;
}

.menu1{
	color:rgb(223,210,225); 
	text-decoration:none;
	padding:2px;

}

.menu1 div:hover {
	color:rgb(86,48,83);
}

.menu2{
	width:100%;
}

#btn-menu{
	display: none;
}

.menu2 label{
	display: none;
	width: 30px;
	height:30px;
	padding: 10px;
	justify-content: center;
}
.menu2 label:hover{
	cursor: pointer;
	background: rgb(73,72,167); 
}

.lista ul{
	margin:0;
	list-style: none;
	padding:0;
	display: flex;
}

.lista li{
	text-align: center;
	flex-grow: 1;
}

.lista li:hover{
	background:linear-gradient(to bottom,   #8179B4 15%,  #8D83B5 60%, #8D83B5 95%);
}

.lista li a{
	display: block;
	padding:15px 20px;
	color:rgb(223,210,225);
	text-decoration: none;
}

@media (max-width:768px){
	.menu2 label{
		display:flex;

	}
	.lista {
		position:absolute;
		background: rgb(73,72,167);
		width: 100%;
		margin-left:-200%;
		margin-top:20%;
		transition: all 0.5s;
		z-index: 1;
	}

	.lista ul : hover{
		color: rgb(93,80,148);
	}
	.lista ul{
		flex-direction: column;
	}
	.lista li{
		border-top:1px solid rgb(223,210,225);
	}
	#btn-menu:checked ~ .lista {
		margin:0;
	}
	.img img{
		width: 40%;
		margin-left: 30px;
	}

	.logo{

	}
	
	.container_1{
		width:100%;
		padding:0;
		margin: 0;
		display: inline-block;
		
	}
	.account a{
		display: none;
	}
	.item {
		padding:0;
		margin: 0;
		display:inline-flex;
		flex-wrap: wrap;
		justify-content:center;
		flex-direction: row;
		margin-bottom: 5px;		
	}
	.item img{
		text-align: center;
	}
	.menu1 {
		margin-right: 10px;
		
	}

	.menu1 div:hover {
		color:rgb(86,48,83);
	}
	.head_texto_1
	{ font-size:10px !important; }

	.padre_flex_2{
	margin: 20px !important;
	margin-top: 0;
	justify-content:center;
	}

	.imagen2 iframe{
	width:323px !important; 
	height:218px !important;
	}


}

.carousel-caption{
	font-size: 25px;
	font-family:Helvetica;
}

.carousel-caption h4{
	font-size: 45px;
	letter-spacing:10px;
	font-family:Helvetica;
}

.carousel-caption h5{
	font-size: 45px;
	letter-spacing:10px;
	font-family:Helvetica;
}

.carousel-caption h6{
	font-size: 45px;
	letter-spacing:10px;
	font-family:Helvetica;
}

.botones_cuenta{
	text-align:center;
}

.btn-primary {
    background-color:rgb(223,210,225) !important;
    border: rgb(223,210,225);
    color:rgb(73,72,167);
}

.btn-primary:hover {
    background-color:rgb(73,72,167) !important;
    border: rgb(73,72,167);
    color:rgb(223,210,225);
}

.logo a {
	display:block;
	text-align: center;	
	width:100%;
}

.imagen1{
	display:flex;
	justify-content: center;
	margin-bottom: 0;	
}

.animacion_1{
	width: 50%;
	background-color:rgb(223,210,225);
	animation-name:mi_animacion;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.imagen2 iframe{
	display:flex;
	text-align: center;
	width:860px; 
	height:515px;
}

.imagen3 {
 	padding:0;
 	margin:0;
}

.card{
	background: rgb(223,210,225);
}

.padre_flex{
	margin-top: 40px;
	margin:20px;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-end;
}

.padre_flex_2{
	background:rgb(223,210,225);
	display: flex;
	flex-direction:column;
	border-radius:10px;
	margin: 300px;
	margin-top: 0;
	justify-content:center;
}
.padre_flex_3{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding: 0;
	margin: 0;
}

.padre_flex_3{
	
	font-size:18px; 
	justify-content:center;
	color:white ; 
	
}

.padre_flex_3{
	text-decoration:none !important;
}

.padre_flex_3 a:hover {
	color:rgb(223,210,225);
}

.padre_flex_4{
	margin: 20px;
}

.card{
	border-radius:10px;
	margin: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.card-body a{
	text-decoration: none;
	
    color:rgb(73,72,167);
}

.div{
	margin:0;
}

.div{
	display: block;
	margin: auto;
	transition: transform 0.2s ease-in-out;
}

.div:hover {
	transform: scale(0.5) rotate(20deg);
}
.head_titulo_1 {
	color:rgb(73,72,167); 
	font-size: 30px; 
	text-align:center;
	letter-spacing:3px;

}

.head_titulo_1{
	margin-top: 50px;

}


.head_titulo_2{
	color:rgb(73,72,167);
	font-size:20px; 
	text-align:center;
}


legend{
	color:rgb(73,72,167);
}


.parrafo{
	color:rgb(73,72,167);
	font-size: normal;
	font-style:italic;
	text-align:right;
	line-height:33px;
}

.head_texto_1{
	color:rgb(73,72,167);
	font-size: 20px;
	font-style:normal;
	text-align:center;
	padding: 12px;
}

.head_texto_2{
	color:rgb(73,72,167); 
	font-size: normal; 
	font-style:normal;
	text-align:center;
	line-height:33px;
}

.head_texto_3{
	color:rgb(73,72,167); 
	text-align:center;
	line-height:33px;
}


.email_1{
	color:rgb(73,72,167); padding: 20px;
	
}
.email_1{
	text-align:center;
	line-height:33px; 
	background: rgb(223,210,225);
}

.account{
	font-family:Helvetica;
	margin-left:200px;
	margin-right:200px;
	color:rgb(73,72,167);
}

.redes_1 {
	text-align:center !important;
	background: rgb(223,210,225);
	padding: 20px;
}

.redes_1 i{
	padding: 20px;
}


th{
	color:rgb(73,72,167); 

}

td{
	color:rgb(73,72,167);
}
.pick{
	color:rgb(73,72,167);
}

@keyframes mi_animacion {

	0% {
		margin-left: 20px;
		background-color: rgb(86,48,83);
	}

	75% {
		margin-left: 200px;
		background-color: rgb(73,72,167);
	}


	100% {
		margin-left: 20px;
		background-color: rgb(86,48,83);
	}















